In [1]:
import pygsheets

In [2]:
login_credential = 'future-disruption-index-adc3981eedd2.json'
gc = pygsheets.authorize(service_file=login_credential)

In [3]:
res = gc.sheet.create("prj_ass")

In [8]:
sh = gc.open_by_key('18j_RUQmj_Aox6VulRxEvfSbV7LfUlridVc6cWH1rc0U')
ws1 = sh[0]
original = ws1.get_as_df()


ws.clear()
ws.set_dataframe(updated,(1,1))

    이름  전화번호
0  손규진     0
1  제민영     0

In [13]:
import pandas as pd
updated = pd.DataFrame({'이름':['손규진','제민영'],"전화번호":[0,0]})

In [17]:
sh.share('spthsrbwls123@yonsei.ac.kr')